<h1>Bienvenido al portal E-Commerce</h1>
<br>
<h3>Inicie su sesion</h3>
<br>
<div>
    <form id="loginForm">
        <label>Email: </label><input name="email">
        <br>
        <label>Contraseña: </label><input name="password" type="password">
        <input type="submit">
    </form>
</div>
<br>
<p>Primer vez en el portal E-Commerce? <a href="/register">Crea una nueva cuenta</a></p>
<p>¿Olvidaste tu contraseña? Puedes restablecerla <button onclick="restorePassword()">Aquí</button></p>
<script src="/js/login.js"></script>