<h3>Registe su nueva cuenta</h3>
<br>
<div id="errorMessage" style="color: red;"></div>
<div>
    <form id="registerForm">
        <label>Nombre: </label><input name="firstname">
        <br>
        <label>Apellido: </label><input name="lastname">
        <br>
        <label>Email: </label><input name="email">
        <br>
        <label>Edad: </label><input name="age">
        <br>
        <label>Contraseña: </label><input type="password" name="password">
        <br>
        <input type="submit">
    </form>
</div>
<br>
<div class="container">
    <form action="/products" method="GET">
        <button type="submit">Volver al portal</button>
    </form>
</div>

<script src="/js/register.js"></script>