<h1>Datos del Usuario</h1>

<p>Nombre: {{user.firstname}}</p>
<p>Apellido: {{user.lastname}}</p>
<p>Edad: {{user.age}}</p>
<p>Email: {{user.email}}</p>

<br>

<div class="container">
    <form action="/products" method="GET">
        <button type="submit">Volver al portal</button>
    </form>
</div>