<p>Codigo: {{code}}</p>
<p>Monto Final: {{amount}}</p>
<p>Correo: {{mail}}</p>
<p>Fecha: {{date}}</p>
<br>

<form action="/products" method="GET">
    <button type="submit">Volver al portal</button>
</form>