<h1>Datos del Ticket</h1>

<p>Codigo: {{ticket.code}}</p>
<p>Monto Final: {{ticket.amount}}</p>
<p>Correo: {{ticket.mail}}</p>
<p>Fecha: {{ticket.date}}</p>
<br>

<div class="container">
    <form action="/products" method="GET">
        <button type="submit">Volver al portal</button>
    </form>
</div>