<div>
    <h1>
        ¡Hola, {{user.firstName}}!
    </h1>
    <div style="text-align:center;">
        <img src="cid:banner">
    </div>
    <p>Le informo que se ha eliminado el producto {{product.title}} con el codigo {{product.code}} en el portal E-Commerce.</p>
    <p>Desde ya muchas gracias</p>
    <p>Saludos</p>
</div>