<div>
    <h1>
        ¡Hola, {{user.firstName}}!
    </h1>
    <div style="text-align:center;">
        <img src="cid:banner">
    </div>
    <p>¡Bienvenido a nuestro portal E-Commerce!</p>
    <h2>Puedes comenzar a ver nuestra lista productos <a href="http://localhost:8080" style="color:yellow;">Aquí</a></h2>
</div>